<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EAD_Cwk2_EMoore_W1442006.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <EAD_Cwk2_EMoore_W1442006.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=localhost;Port=3306;Database=EAD;Uid=nms;Pwd=ye77owdre55</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>ye77owdre55</value>
            </setting>
            <setting name="XMLLocation" serializeAs="String">
                <value>..\\..\\..\\SaveFile.xml</value>
            </setting>
        </EAD_Cwk2_EMoore_W1442006.Properties.Settings>
    </userSettings>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>